{% extends 'base.html' %}
{% block title %}New page{% endblock title %}

{% block body %}
  <form action="{% url 'appname:create' %}" method="POST">  {#Create 함수로 연결한다.#}
    {% csrf_token %}
    {% comment %} <input type="hidden" name="csrftoken" value="adgadgjaldghladgahdlghads"> {% endcomment %}
    <div>
      name: <input type="text" name="name">
    </div>
    <div>
      age: <input type="text" name="age">
    </div>
    <div>
      major: <input type="text" name="major">
    </div>
    intro: <textarea name="intro" id="" cols="30" rows="10"></textarea>

    <div>
      <input type="submit" class="btn btn-primary">
    </div>
  </form>
{% endblock body %}